@model MvcAppBd3Web.Models.AccountModels

@{
    ViewBag.Title = "Forgot password";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@*<a href="index-2.html"><img src="/assets/img/login-logo.png" class="login-logo"></a>*@
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h2>Forgot password Form</h2></div>
            <div class="panel-body">
                @using (Html.BeginForm("Forgotpassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "loginform", @class = "form-horizontal", role = "form" }))
                { 
                    <div id="dialog">
                            @Html.ValidationMessage("error_msg", new { @class = "error", @name = "error" })
                            @Html.Raw(ViewBag.ChangePassMess)
                        </div>
                    @*<form action="/Account/Login" class="form-horizontal">*@
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </span>
                                @Html.TextBoxFor(u => u.userModel.Email, new { @Class = "form-control", @id = "email", placeholder = "Email đăng ký", autofocus = "" })
                                @Html.ValidationMessageFor(u => u.userModel.Email)
                            </div>
                        </div>
                    </div>      
                    <div class="panel-footer">
                        <div class="clearfix">
                            <a href="/Account/login" class="btn btn-default pull-left">Cancel</a>
                            <button type="submit" class="btn btn-primary pull-right">Send Pass To Email</button>
                        </div>
                    </div>
                }
                @*</form>*@
            </div>
        </div>
    </div>
</div>
