<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="CMS_Entities" connectionString="metadata=res://*/Models.CMSModel.csdl|res://*/Models.CMSModel.ssdl|res://*/Models.CMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=moorelocal;initial catalog=Forbes_CMS;user id=Forbes;password=Forbes;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="MvcAppBd3DBEntities" connectionString="metadata=res://*/Models.ModelDatabase.csdl|res://*/Models.ModelDatabase.ssdl|res://*/Models.ModelDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MvcAppBd3DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
